.file-actions-wrapper {
  display: inline-block;
  width: 100%;
}

.operations-container {
  margin-right: 10px;
  float: right;

  .operations-edit {
    margin-right: 10px;
  }
}

.rename-box {
  width: 80%;
}
